<!-- <app-buscador></app-buscador> -->

<!-- Primera seccion -->
<div class="container">
    <div class="row titulo">
        <h1>¿Qué es GymMyLife?</h1>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <p class="texto">GymMyLife© es un grupo de competidoras fitness que se unieron para dar sus conocimientos sobre el mundo del deporte y alimentación avalada por la ciencia junto con la ciencia .Nuestra prioridad es conseguir resultados deseados de nuestros
                    clientes manteniendo una vida armoniosa y no obsesiva.</p>

                <p class="texto">Actualmente estamos siendo testigos de como muchas personas cambian sus vidas con nuestra ayuda y queremos que tú tambien seas paarte de nuestro equipo, por esta raazon contamos con una comunidad en toda España para que puedas unirte a
                    ella y conseguir esa motivación que necesitas, quien sabe, a lo mejor en tu pueblo tambien hay alguien con las ganas de entrenar como tú!.</p>

                <p class="texto">Además, si quieres llegar a otro nivel y nesesitas asesoramiento personalizado, ofrecemos servicio adaptado a tu cuerpo y alimentación, para asesoramiento personalizado con nosotras y reside en la mejora de calidad de vida, reduciendo
                    los costes que supone vivir en las grandes ciudades.</p>
            </div>
        </div>
    </div>
</div>

<!-- Segunda seccion -->
<div class="cambio-seccion"></div>
<div class="fondo-tools">
    <div class="container">
        <div class="row">
            <h1 class="titulo-2">Equipo Coaching</h1>
            <div class="col-md-4 tools">
                <div class="card">
                    <h2>Solange Roman</h2>
                    <h4>Mentora Personal</h4>
                    <img class="tool-image" src="../../assets/images/1SR.jpeg" alt="" />
                    <p class="texto-card">Nuestra solución va a consistir en el diseño de una página web desarrollada mediante el framework Angular, una de las tecnologías más punteras del mercado.</p>
                    <div class="col-md-4 coaching">
                        <button class="btn btn-success pull-right" onclick="window.location='mailto:solangeroman571@gmail.com'">Contactame</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tools">
                <div class="card">
                    <h2>Raquel Torrejon</h2>
                    <h4>Entrenadora</h4>
                    <img class="tool-image" src="../../assets/images/2RT.JPG" alt="" />
                    <p class="texto-card">.</p>

                    <p class="texto-card">Mediante inteligencia artificial en concreto, análisis de sentimientos, transformando la información en datos de la valor para le empresa y para los usuarios.</p>
                </div>
            </div>
            <div class="col-md-4 tools">
                <div class="card">
                    <h2>María Muñoz Yuste</h2>
                    <h4>Nutricionista </h4>
                    <img class="tool-image" src="../../assets/images/1MY.png" alt="" />
                    <p class="texto-card">Nutricionista, Diplomada en Nutrición Humana y Dietética, Licenciada en Ciencia y Tecnología de los Alimentos y Certificada en Coaching Nutricional e Inteligencia Emocional. Especializada en salud hormonal, pérdida de peso y mejora
                        de la composición corporal. Premiada con el VI Premio "Mi Empresa es Saludable en la Categoría de Nutrición". Amplia experiencia en Consulta en las diferentes etapas de la Mujer.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row titulo-3">
        <h1>¿Cual es tu objetivo?</h1>
        <h2>Guia de entrenamiento</h2>
    </div>

    <div class="row">
        <div class="col-md-3 top2">
            <a routerLink="../producto">
                <div class="card22">
                    <img class="tool-image2" src="../../assets/images/recetaSalada/S2.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur2">
                            <h5>Elevaciones laterales</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top2">
            <a routerLink="../producto">
                <div class="card22">
                    <img class="tool-image2" src="../../assets/images/recetaSalada/S1.jpg" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Press Militar</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top2">
            <a routerLink="../producto">
                <div class="card22">
                    <img class="tool-image2" src="../../assets/images/recetaSalada/S20.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur2">
                            <h5>Jalones verticales</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card22">
                    <img class="tool-image2" src="../../assets/images/recetaSalada/S25-CREMAS.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur2">
                            <h5>Jalones Horizontales</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <img src="../../assets/images/home-10.png" class="img-home" alt="" />
    </div>
</div>