<br><br>
<br><br>
<br><br>
<br><br>
<div class="container">
    <h1>Entrenamiento</h1>
    <h2>Pectoral</h2>
    <div class="row">
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/swMjJqFzxCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Press de banca inclinado</h5>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/KG0oXJYMZpc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Flexiones con mancuernas</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/qptf40coWdM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Hex press</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/osSD-IqKFlw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Cruces para pecho en poleas</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2>Hombros</h2>
    <div class="row">
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/qIxtugfMI-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Elevaciones frontales con mancuernas</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/To-1BYdLziA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Elevaciones laterales inclinado en banco</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/lRQyCMxqgiM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Remo a la cara - Face pull</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/-SgUUBG_e8c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Press militar con multipower</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2>Espalda</h2>
    <div class="row">
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/NRg1QLi26Ws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Peso muerto</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/JLLyZoXJF4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Remo con barra</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/pyuWpDxOu3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Jalón al pecho</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/5XO5KyDUAbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Pullover con mancuerna</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2>Bíceps tríceps</h2>
    <div class="row">
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/qC0yZwpF9Ew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Curl con barra</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/JfWG7RDGRVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Dominadas supinas</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/CKvCJwejA3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Dippings</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/SHL-rkBlK0w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Press francés</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2>Oblicuos</h2>
    <div class="row">
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/EUVNho7x5gA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Crunch foot to foot</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/-1k2b8dG16g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Leg raise</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/4sk9Z1Jbxkc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Crunch lateral</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/N1axQ7Kejos" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Hip dips</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2>Glúteos</h2>
    <div class="row">
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/UQIQJ2y3kcY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Sentadilla sumo</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/QtXWW5weEt0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Zancadas o desplantes</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/zIIl1CINi84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Hip Thrust</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/ywNaDseMEPs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Paso lateral con banda en rodilla</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2>Cuádriceps e Isquios</h2>
    <div class="row">
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/Q2TTLUxlNu4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Sentadillas</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/QxZzLH4UwvY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>step up con mancuerna</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/GM3qasWpvwU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Pistol squat</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <iframe class="tool-image" width="560" height="315" src="https://www.youtube.com/embed/dOQS6MeCXPA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Salto a caja</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2>Gemelos</h2>
    <div class="row">
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/1.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Estiramiento de gemelos de pie</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/2.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Elevación de talones para el gastrocnemio</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/3.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Elevación de talones para el sóleo</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/4.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Elevación al estilo esquiador</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>