@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/navigation/navigation";
.foto-fondo {
    background-image: url("../../../assets/images/principal2.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: auto;
    opacity: 0.85;
}

.foto-fondo-blanco {
    // background-image: url("../../../assets/images/pueblos1.jpg") !important;
    // background-image: url("../../../assets/images/campo-soft.jpg") !important;
    //opacity: .2;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    height: auto;
}

.cambio-seccion {
    margin-top: 3rem;
    width: 100%;
    height: 8rem;
    border-top-left-radius: 300% 300%;
    /*    border-top-right-radius:50% 50%; */
    background: rgb(19, 24, 41);
}

.fantasma {
    height: 90vh;
}

.barra {
    width: 80%;
    height: 45px;
    margin: auto;
    display: block;
    border-radius: 20px;
}

.lupa {
    text-align: end;
    width: 35px;
    margin: 0;
    position: relative;
    top: -11px
}

.gifloading {
    display: block;
    margin: auto;
}

// .escudo {
//   width: 90%;
//   // height: 10rem;
//   display: block;
//   margin: auto;
// }
.divEscudo {
    background-size: cover;
    // width: auto;
    // max-width: 432px;
    // max-height: 260px;
}

// .escudoMain1 {
//   width: 100%;
//   height: 25vh;
//   min-width: 227;
//   max-width: 432px;
//   max-height: 280px;
//   background-size: cover;
//   margin:auto;
//   display: block;
//   border-radius:10px;
//   box-shadow: 2px 2px 5px 5px rgb(202, 202, 202);
//   margin-bottom: 10px;
// }
.escudoMain {
    height: 30vh;
    display: block;
    box-shadow: 2px 2px 5px 5px rgb(202, 202, 202);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.localizacion {
    width: 100%;
    // padding-left: 10%;
    margin: auto;
    padding: 0;
}

.localizacionTexto {
    text-align: center;
}

.imgDespoblacion {
    max-width: 90%;
    min-width: 333px;
    height: 30vh;
    border-radius: 300px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 5px rgb(202, 202, 202);
}

.fondo-seccion-carrusel {
    background-color: rgb(19, 24, 41);
}

.informacionMunicipio {
    width: 90%;
    min-width: 234px;
    padding-top: 40px;
    margin: auto;
    text-align: center;
}

.infoMunicipio {
    display: block;
    margin-left: 2rem;
}

.despoblacion {
    background-color: green;
    color: white;
    text-align: center;
    margin-top: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    // padding-top: 15px;
    // font-size: large;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px rgb(202, 202, 202);
    opacity: .6;
    margin-bottom: 2rem;
}

.poblacion {
    background-color: #860101;
    color: white;
    text-align: center;
    margin-top: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    // padding-top: 15px;
    // font-size: large;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px rgb(202, 202, 202);
    opacity: .6;
    margin-bottom: 2rem;
}

// .tituloInfo {
//   padding-left:5px;
//   background-color: rgb(230, 230, 230);
//   margin:auto;
//   border-radius: 3px;
//   padding-top: 4px;
//   padding-bottom: 4px;
// }
.tituloInfoTexto {
    font-family: 'Raleway', sans-serif !important;
    font-size: 180% !important;
}

.infoBasica {
    background-color: rgb(255, 255, 255);
    border-color: rgb(206, 206, 206);
    padding-left: 10px;
    margin: auto;
}

.fraseBusqueda {
    font-family: 'Raleway', sans-serif !important;
    font-size: 250% !important;
}

.nombre-municipio {
    font-family: 'Bebas Neue', cursive !important;
    // font-family: 'Viga', sans-serif;
    font-size: 350% !important;
    padding-top: 4rem;
    // color: rgb(255, 102, 0);
    color: rgba(255, 102, 0, 0.795);
}

.cajitas {
    background-color: white;
    width: 100%;
    height: 4.2rem;
    min-width: 120px;
    max-width: 200px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px 5px rgb(226, 226, 226);
    // text-align: left;
}

.cajitas:hover {
    transform: scale(1.2);
    // opacity: .7;
    background-color: rgb(231, 231, 231);
}

.primeraFilaCajitas {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.primeraFilaCajitas1 {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1rem;
}

.tituloCajitas {
    display: block;
    margin-top: 5px;
    font-family: 'Comfortaa', cursive;
    padding-left: 10px;
}

.valorCajitas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    display: block;
    text-align: center !important;
    margin-top: 3px;
    font-family: 'Comfortaa', cursive;
    padding-left: 5px;
    padding-bottom: 5px;
}

.contenidoCajitas {
    flex-direction: column;
    text-align: center;
    margin: 0 !important;
    font-family: 'Comfortaa', cursive;
    padding-left: 10px;
    padding-top: 5px;
}

.imagenCajitas {
    position: relative;
    display: block;
    width: 1.8rem !important;
    margin-top: 3% !important;
    margin-right: 10% !important;
}

.marginTop {
    padding-top: 2rem;
}

.titulosCarrusel {
    color: white;
    font-family: 'Raleway', sans-serif !important;
}

// .localizacionMunicipio{
//   margin-top: auto;
// }
.espacio-barra {
    margin-bottom: 4rem;
    margin: auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card-body {
    flex: 0 !important;
    padding: 1rem 1rem;
}

.card-principio {
    height: 100%;
    // background-opacity:0.3;
    // position: absolute;
    // bottom: 2rem;
}

.tablas {
    box-shadow: 2px 2px 5px 5px rgb(202, 202, 202);
    background-color: white;
    border-color: rgb(150, 150, 150);
    border-radius: .2rem;
    border-radius: 0.5rem;
    // margin-bottom: 26.1rem;
    // padding-left: 5px;
    // padding-right: 5px;
}

// .swiper-button-prev, .swiper-button-next{
//   margin-top:1rem;
// }
.bloque {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.bloque2 {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    margin-bottom: 1rem;
}

.centros {
    margin-bottom: 4rem;
}

.mat-form-field {
    .mat-input-element {
        color: black !important;
        width: 100%;
    }
    .mat-form-field-label {
        color: rgb(19, 24, 41) !important;
        // font-size: medium ;
    }
    .mat-form-field-underline {
        background-color: rgb(255, 255, 255) !important;
    }
    .mat-form-field-ripple {
        background-color: rgb(255, 255, 255) !important;
    }
    .mat-form-field-required-marker {
        color: black !important;
    }
}

.cmedicos {
    background-color: green;
    color: white;
}

.stations {
    background-color: rgb(134, 1, 1);
    color: white;
    text-align: center;
}

.supermarkets {
    background-color: rgb(149, 156, 49);
    color: white;
}

.fondo {
    background-color: rgb(209, 209, 209);
}

.fondo1 {
    background-color: rgb(255, 255, 255);
}

// @import "variables";
.loading-container {
    margin-top: 3rem;
}

// .loading-container {
//   display: flex;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.7);
//   z-index: 5;
// }
// .site-container {
//   font-size: 14px;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   height: 100vh;
//   background: #f1f1f1;
//   overflow: hidden;
//   .site-header {
//     height: 64px;
//   }
//   .site-content {
//     height: calc(100vh - 65px);
//     padding: 0 15px;
//     overflow: auto;
//   }
// }
.swiper-container {
    width: 100%;
    height: 30%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stationSwiper {
    .swiper-button-prev,
    .swiper-button-next {
        color: rgb(134, 1, 1);
    }
}

.sanidadSwiper {
    .swiper-button-prev,
    .swiper-button-next {
        color: green;
    }
}

.supermarketsSwiper {
    .swiper-button-prev,
    .swiper-button-next {
        color: rgb(149, 156, 49);
    }
}

.emoji {
    // height: 10px;
    display: block;
    width: 1.8rem !important;
    margin-right: 1%;
}

.emojiDir {
    display: block;
    width: 1rem !important;
    margin-right: 1%;
}

.bodyStation {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: block;
}

.dirText {
    font-size: 0.7rem;
    // padding-bottom: 2%;
}

.disText {
    font-size: 0.7rem;
    padding-top: 0.2%;
}

h5 {
    width: auto;
    margin: 0 !important;
    padding: 0;
}

.tituloCaja {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    p {
        margin-top: 5px;
    }
}

.bodyCaja {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin-top: 8px;
    }
}

.caja {
    width: 100%;
    // margin-bottom:2rem;
}

.swiper-slide {
    margin-bottom: 3rem;
}

.marginCaja {
    margin-bottom: 2%;
}

.marginStation {
    margin-bottom: 20px;
}

.error {
    color: red;
    // border: 1px dashed red;
}

figure {
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 15vw;
    margin-right: 15vw;
    // background-color: white;
    // width: 100%;
    // height: 4.2rem;
    // min-width: 120px;
    // max-width: 200px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    // margin-left: auto;
    // margin-right:auto;
    box-shadow: 2px 2px 5px 5px rgb(226, 226, 226);
    p {
        font-style: italic;
    }
}

.tabla {
    width: 66%;
    margin-top: 3rem;
    text-align: center;
    margin-left: 33%;
}

.ampliado {
    margin-top: 3rem;
    width: 50vw;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.rowAmp {
    display: inline-block;
}

.nombre {
    text-align: right !important;
}