<footer>
    <div class="container col-sm-12">
        <section>
            <a href="https://www.facebook.com/" target="_blank">
                <img src="../../assets/images/facebook.png" alt="Logo Facebook" />
            </a>

            <a href="https://www.twitter.com/" target="_blank">
                <img src="../../assets/images/twitter.png" alt="Logo Titter" />
            </a>

            <a href="https://www.instagram.com" target="_blank">
                <img src="../../assets/images/instagram.png" alt="Logo Instagram" />
            </a>

            <a href="https://www.linkedin.com/" target="_blank">
                <img src="../../assets/images/linkedin.png" alt="Logo LinkedIn" />
            </a>

            <a href="https://github.com/Juanal07/frontend-Softlusion-PC2" target="_blank">
                <img src="../../assets/images/github_64px.png" alt="Logo GitHub" />
            </a>

            <a href="https://github.com/Juanal07/api-node-PC3" target="_blank">
                <img src="../../assets/images/github_64px.png" alt="Logo GitHub" />
            </a>
        </section>

        <!-- <section class="col-sm-12"> -->
        <!--   <form action=""> -->
        <!--     <div class="row justify-content-center"> -->
        <!--       <div class="col-auto"> -->
        <!--         <p class="pt-2"><strong>Apúntate a la newsletter</strong></p> -->
        <!--       </div> -->
        <!--       <div class="col-md-5"> -->
        <!--         <input type="email" class="form-control" placeholder="Email"/> -->
        <!--       </div> -->
        <!--       <div class="col-auto"> -->
        <!--         <button type="submit" class="btnSus btn btn-outline-light">Suscribirse</button> -->
        <!--       </div> -->
        <!--     </div> -->
        <!--   </form> -->
        <!-- </section> -->

        <section>
            <p>Nuestra prioridad es la satisfación de nuestros clientes</p>
        </section>
        <section>
            <div class="row">
                <h5>AUTORES</h5>
            </div>
            <div class="autores">
                <a href="mailto:solangeroman571@gmail.com" class="">Solange Roman</a>
            </div>
        </section>
    </div>

    <div class="copyright">
        © 2021 Copyright:
        <a routerLink="">GymMyLife</a>
    </div>
</footer>