<br><br>
<br><br>
<br><br>
<br><br>
<div class="container">
    <h1>Comidas</h1>
    <h2>cremas y sopas</h2>
    <div class="row">
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S2.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Gazpacho ligero </h5>
                        </div>
                        <div class="col-md-4">
                            <h5>400cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S1.jpg" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>crema depurativa de brocoli y puerro</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>350cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S20.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Crema de lentejas y Zanahoria</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>350cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S25-CREMAS.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Crema de verduras</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>650cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S22.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Sopa de quinoa y verduras</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>350cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S27-VERDURAS.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Pisto bajo en calorias</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>350cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S28-SOPAS.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Sopa de champiñones</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>350cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2>Pescados</h2>
    <div class="row">
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S9.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Rollitos de sardina con verduras al horno</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>650cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S14.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Salmón al horno en papillote</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>600cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S15.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Merluza en salsa verde Baja en calorias</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>600cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S11.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Cus cus con gambas</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>650cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S21.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Cus cus con gambas</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>650cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2>Vegetariano</h2>
    <div class="row">
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S10.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Calabacines rellenos</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>350cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S29-VEGETARIANO.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Quinoa con huevo y verduritas</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>400cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <h2>vegano</h2>
    <div class="row">
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S17-VEGANO.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Hamburguesa veg. De alubia y avena</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>400cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S18-VEGANO.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Hamburguesa veg. de quinoa y espinacas</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>450cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S5.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Verduras saltedas</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>200cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S6.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Alcachofas marinadas</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>150cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S23-VEGANO.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Sopa detox vegana</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>150cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S26-VEGANO.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Tabule de coliflor</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>150cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S30-VEGANA.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Cintas de calabacín con berberechos </h5>
                        </div>
                        <div class="col-md-4">
                            <h5>400cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S3.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h4>Ensalada de kale con garbanzos</h4>
                        </div>
                        <div class="col-md-4">
                            <h5>450cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S4.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Ensalada de lentejas con salsa pesto</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>200cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S24-ENSALADA.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Ensalda de quinoa con calabaza asada y granada</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>150cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/s19.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Spaghettis de calabacín con salsa de pesto</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>200cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S8.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Humus de garbanzos</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>150cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2>Pizzas y enpanadillas</h2>
    <div class="row">
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S7.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Empanadillas Ricas Fit</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>450cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S13-PIZZA.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Pizza sin harinas base de coliflor y baja en calorias</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>600cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 top">
            <a routerLink="../producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/recetaSalada/S12.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h5>Pan de espelta</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>650cal</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
<div class="container">
    <br><br>
    <h1>Postres</h1>
    <swiper [spaceBetween]="30" [loop]="true" [loopFillGroupWithBlank]="true" [pagination]="{ clickable: true }" [navigation]="true" class="mySwiper">
        <ng-template swiperSlide>
            <div class="col-md-6 topA">
                <a routerLink="../producto">
                    <div class="card2A">
                        <img class="tool-imageA" src="../../assets/images/recetaSalada/S1.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCurA">
                                <h5>Yuneec Typoon H3</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>700cal</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 topA">
                <a routerLink="../producto">
                    <div class="card2A">
                        <img class="tool-imageA" src="../../assets/images/recetaSalada/S1.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCurA">
                                <h4>Yuneec Typoon H3</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>2.394,00€</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 topA">
                <a routerLink="../producto">
                    <div class="card2A">
                        <img class="tool-imageA" src="../../assets/images/recetaSalada/S1.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCurA">
                                <h4>Yuneec Typoon H3</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>2.394,00€</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 topA">
                <a routerLink="../producto">
                    <div class="card2A">
                        <img class="tool-imageA" src="../../assets/images/recetaSalada/S1.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCurA">
                                <h4>Yuneec Typoon H3</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>2.394,00€</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>

    </swiper>

</div>